*{margin: 0;
    padding: 0;
    font-family:'TrebuchetMS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif}

.logo img{
    float: left;
    width: 90px;
    height:auto;
    }

body{
    background-color: #CBC497;
}

nav{
    margin-top: -0.1%;
    background-color: #7D8D87;
}
    
    ul
    {float: right;
        list-style-type: none;
        margin-top:25px;
        background: #7D8D87;
    }
      
    ul li{
        list-style: none;
        display:  inline-block;
        padding: 8px 12px;
        position: relative; 
    }
      
    ul li a 
    {text-decoration: none;
        color:black;
        padding: 5px 20px;
        border: 1px solid transparent;
        transition: 0.6s ease;
    }

    ul li ul.dropdown{
        width: 100%;
        background: rgb(255, 255, 255);
        position: absolute;
        z-index: 999;
        display: inline-block;
      }

      ul li ul.dropdown li{
        display: flex;
      }

      ul li ul.dropdown{
        width: 100%;
        background: rgb(255, 255, 255);
        position: absolute;
        z-index: 999;
        display: none;
      }

      ul li:hover ul.dropdown{
        display:block;
      }
      
    ul li a:hover{
        background-color: #ffffff;
        color: #000;}

        .btn{border:1px solid #7D8D87;
            padding:10px 30px;color:#7D8D87;
            text-decoration: none;
            transition: 0.6s ease;}
        
          .btn:hover{
            background-color: #7D8D87;
            color: #000;}

      
    .logo img{float: left;
        width: 150px;
        height:auto;
    }

    
    .foods{
        width: 90%;
        margin: auto;
        text-align: center;
        padding-top: 20px;
    }
        
    .img{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
        
    .food-text{
        align-items: center;
        padding: 70px;
        width: 650px;
    }
    
    h1{
        color: rgb(0, 0, 0) ;
        font-size: 30px;
        text-transform: capitalize;
        margin-bottom: 15px;
        text-align: center;
        background-color: #9EB45B;
        margin-top: 2%;
    }
    
    h2{
        text-align: center;
        font-weight: 600;
        margin: 10px 0;
    }
        
    p{
        color:rgb(0, 0, 0);
        padding: 10px;
        letter-spacing: 1px;
        line-height: 28px;
        font-size: 18px;
        margin-bottom: 25px;
    }
        
    .row{
        margin-top: 5%;
        display: flex;
        justify-content: space-between;
    }
        
    .course-col{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-basis: 31%;
        background: #eab676;
        border-radius: 5px;
        margin-bottom: 5%;
        padding: 15px 12px;
        box-sizing: border-box;
    }
        
    .course-col:hover{
        box-shadow: 0 0 20px rgba(0,0,0,0.2);
    }
    
    .text-box{
        width: 90%;
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    
    .text-box p{
        margin: 10px 0 40px;
        font-size: 20px;
        color: #fff;
    }

    .about{
        position: relative;
        top: 40px;
    }

    footer {
        font-size:120%;
        text-align:center;
      }